.ygo-card-previous-status-parent {
	width: 18rem;
	min-width: 18rem;
	margin-right: 0.75rem;
	cursor: pointer;
	background-color: #eee;
	padding: 1rem;
	border-radius: 2.5rem;
	border: 2px solid #888;
}

.img-and-previous-status-parent {
	display: flex;
}

.ban-list-status-change-text-parent {
	min-width: 60%;
	margin: auto;
}

.ban-list-status-change-text-1 {
	margin-bottom: 0rem;
	color: rgb(85, 85, 85);
}

.ban-list-status-change-text-2 {
	color: black;
}

.ygo-card-previous-status-anchor {
	text-decoration: none;
}
