.quantity-text-container {
	min-width: 55%;
	margin: auto;
}

.ygo-card-with-quantity-header {
	display: flex;
	width: 100%;
}

.ygo-card-with-quantity-header > *:not(:last-child) {
	margin-right: .75rem;
}