.date-parent {
	margin: auto;
	margin-bottom: 0rem;
	border-radius: 1rem;
	padding: 0rem;
	background: #f5f5f5;
	width: 7rem;
}

.date-parent-condensed {
	width: 5rem;
}

.date-parent .month-text {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	background: #e42364;
	color: white;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	padding-top: 0.2rem;
	margin-bottom: 0.05rem;
}

.date-parent-condensed .month-text {
	margin-bottom: 0.2rem;
	line-height: 1.4;
}

.date-parent .day-text {
	font-weight: 800;
	margin-bottom: 0rem;
	line-height: 1.2;
}

.date-parent .year-text {
	margin-bottom: 0rem;
}
