.tile {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	border-radius: 1.5rem;
	flex: 1;
	background: #f3f3f3;
}

.small {
	max-width: 8rem;
}

.medium {
	max-width: 10rem;
}

.large {
	max-width: 14rem;
}

.full-width {
	width: 100%;
}

.tile:hover {
	cursor: pointer;
	transform: scale(1.04);
}

.tile-prominent-text {
	margin-bottom: 0.2rem;
	color: #444;
}

.tile-secondary-text {
	margin-bottom: 0rem;
}
